@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  background: #fff;
  font-size: 22px;
  font-family: "Fira Sans", sans-serif;
  color: rgb(233, 198, 3);
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0.3s;
  -o-transition: opacity 0.8s ease 0.3s;
  transition: opacity 0.8s ease 0.3s;
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded .header {
  -webkit-transition: -webkit-transform 1.2s ease 1.8s;
  transition: -webkit-transform 1.2s ease 1.8s;
  -o-transition: transform 1.2s ease 1.8s;
  transition: transform 1.2s ease 1.8s;
  transition: transform 1.2s ease 1.8s, -webkit-transform 1.2s ease 1.8s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.wrapper._loaded .page__pagination {
  opacity: 1;
  visibility: visible;
  -webkit-transition: -webkit-transform 1.2s ease 2.1s;
  transition: -webkit-transform 1.2s ease 2.1s;
  -o-transition: transform 1.2s ease 2.1s;
  transition: transform 1.2s ease 2.1s;
  transition: transform 1.2s ease 2.1s, -webkit-transform 1.2s ease 2.1s;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.wrapper._free .page__pagination {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(50px, -50%);
      -ms-transform: translate(50px, -50%);
          transform: translate(50px, -50%);
  opacity: 0;
}

._container {
  max-width: 1350px;
  padding: 0px 5px;
  margin: 0 auto;
}

h1 {
  color: rgb(233, 198, 3);
}

h2 {
  color: rgb(233, 198, 3);
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  padding: 0px 0px 30px 0px;
  text-transform: uppercase;
}

.screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen__image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.page__pagination {
  position: absolute;
  z-index: 50;
  top: 50%;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(50px, -50%);
      -ms-transform: translate(50px, -50%);
          transform: translate(50px, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__bullet {
  width: 10px;
  height: 10px;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  border: 1px solid rgb(250, 216, 24);
  background: rgb(1, 1, 68);
  margin: 10px 0px;
  border-radius: 20px;
}

.page__bullet_active {
  width: 10px;
  height: 10px;
  border: 1px solid rgb(250, 216, 24);
  background: rgb(250, 216, 24);
}

.page__scroll {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page__drag-scroll {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 222, 35, 0.534);
  cursor: pointer;
}

.swiper-slide-visible,
.swiper-slide-active {
  position: relative;
  z-index: 50;
}

/*===========Preloader================================*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: 100;
  -webkit-transition: 1.5s all;
  -o-transition: 1.5s all;
  transition: 1.5s all;
  opacity: 1;
  visibility: visible;
}

.preloader.done {
  opacity: 0;
  visibility: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 102;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader > b {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  font-weight: 100;
  margin: 3px;
  display: inline-block;
  -webkit-animation: flip 4s ease-out;
          animation: flip 4s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: #000;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

.loader > b:nth-of-type(1) {
  font-size: 60px;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.loader > b:nth-of-type(2) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader > b:nth-of-type(3) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader > b:nth-of-type(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader > b:nth-of-type(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader > b:nth-of-type(6) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader > b:nth-of-type(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader > b:nth-of-type(8) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader > b:nth-of-type(9) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader > b:nth-of-type(10) {
  font-size: 60px;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.loader > b:nth-of-type(11) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader > b:nth-of-type(12) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader > b:nth-of-type(13) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader > b:nth-of-type(14) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader > b:nth-of-type(15) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader > b:nth-of-type(16) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader > b:nth-of-type(17) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader > b:nth-of-type(18) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@-webkit-keyframes flip {
  0% {
    color: #000;
  }

  40% {
    color: rgb(233, 198, 3);
  }

  100% {
    color: rgb(233, 198, 3);
  }
}

@keyframes flip {
  0% {
    color: #000;
  }

  40% {
    color: rgb(233, 198, 3);
  }

  100% {
    color: rgb(233, 198, 3);
  }
}

/*===========HEADER================================*/

.header {
  position: fixed;
  width: 100%;
  max-width: 1350px;
  padding: 10px 5px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 51;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}

.header__burger {
  display: none;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  width: 90px;
  height: 50px;
}

.header__logo img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__socials {
  width: 40%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  padding: 15px 25px;
}

.header__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0px 5%;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__socials-link img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 7px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__socials-link img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.callback {
  -webkit-animation: fadeInLeft;
          animation: fadeInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 51;
  bottom: 0%;
  left: 0px;
  width: 10%;
  -webkit-transform: translate3d(-200%, 0, 0);
          transform: translate3d(-200%, 0, 0);
}

.callback__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.callback__image img {
  width: 100%;
}

.callback__text {
  -webkit-animation: heartBeat;
          animation: heartBeat;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  top: 0;
  left: 75%;
  text-align: center;
  font-size: 14px;
  border: 1px sorgblid rgba(179, 179, 179, 0.8);
  color: #000;
  background: rgba(250, 238, 72, 0.466);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu {
  width: 45%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0px;
  left: 0px;
  padding: 25px;
  white-space: nowrap;
}

.menu__link {
  margin: 0px 5%;
  font-weight: 600;
  font-size: 18px;
  color: rgb(1, 1, 68);
}

.menu__link:hover {
  -webkit-transform: scale3d(1.01, 1.01, 1.01);
          transform: scale3d(1.01, 1.01, 1.01);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__link:nth-child(1) {
  display: none;
}

/*===========MAIN================================*/

.main__content {
  padding: 150px 25px 25px 25px;
  position: relative;
  z-index: 50;
}

.main__title {
  max-width: 800px;
  text-align: center;
  font-size: 70px;
  padding: 0px 0px 90px 0px;
  line-height: 122%;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgb(15, 15, 15);
}

.main__text {
  position: relative;
  text-align: end;
  font-size: 38px;
  color: green;
  padding: 80px 60px 0px 0px;
  text-shadow: 2px 2px 2px green;
}

.main__text P {
  position: absolute;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
  top: -250px;
  right: 15%;
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  color: blue;
}

.main__text P::first-letter {
  font-size: 150px;
}

.main__text span {
  position: absolute;
  top: -150px;
  right: 21%;
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
  color: rgb(233, 198, 3);
}

.main__text span::first-letter {
  font-size: 150px;
}

/*===========ABOUT================================*/

.about__content {
  padding: 100px 0px 30px 0px;
  color: #000;
  position: relative;
  z-index: 50;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.about__text {
  font-size: 22px;
  width: 100%;
  padding: 0px 25px 0px;
}

.about__text p {
  margin: 0px 0px 20px 0px;
}

.about__title {
  margin: 0px 0px 30px 0px;
}

/*===========SERVICES================================*/

.services__content {
  position: relative;
  z-index: 50;
  padding: 100px 20px 0px;
  margin: 0 auto;
  text-shadow: 1px 1px 1px #000;
  color: rgb(216, 184, 0);
}

.services__title {
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.services__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 15px 1fr 15px 1fr 15px 1fr;
  -ms-grid-columns: 1fr 15px 1fr;
      grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
  padding: 0px 10px;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  gap: 15px;
}

.services__item {
  max-width: 100%;
  height: 100px;
  padding: 10px;
}

.services__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 10px;
  cursor: pointer;
}

.services__item-label {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 7px;
}

.services__item-text {
  font-size: 16px;
  line-height: 118%;
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  text-align: center;
  -webkit-transition: -webkit-transform 0.9s linear;
  transition: -webkit-transform 0.9s linear;
  -o-transition: transform 0.9s linear;
  transition: transform 0.9s linear;
  transition: transform 0.9s linear, -webkit-transform 0.9s linear;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
  border: 1px solid rgba(175, 171, 171, 0.3);
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 8px #000;
          box-shadow: 3px 3px 8px #000;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.center a {
  color: rgb(23, 23, 24);
  font-weight: 600;
}

.front {
  background: rgba(0, 0, 43, 0.7);
  -webkit-transform: perspective(1000px) rotateX(0deg);
          transform: perspective(1000px) rotateX(0deg);
  opacity: 0.9;
  height: 100%;
}

.back {
  -webkit-transform: perspective(1000px) rotateX(180deg);
          transform: perspective(1000px) rotateX(180deg);
  background: rgba(252, 241, 88, 0.4);
  opacity: 0.9;
}

.services__card:hover > .front {
  -webkit-transform: perspective(1000px) rotateX(-180deg);
          transform: perspective(1000px) rotateX(-180deg);
}

.services__card:hover > .back {
  -webkit-transform: perspective(1000px) rotateX(0deg);
          transform: perspective(1000px) rotateX(0deg);
}

/*===========PRICE================================*/

.price__content {
  padding: 100px 10px 30px;
  position: relative;
  z-index: 50;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__item {
  border-radius: 5px;
  margin: 0px 20px;
  padding: 20px;
  color: #000;
  text-shadow: none;
  background: rgba(252, 224, 41, 0.438);
}

.price__item-label {
  font-size: 24px;
  font-weight: 600;
}

.price__item-sum {
  padding: 20px 0px;
  font-size: 32px;
  font-weight: 500;
}

.price__item-text {
  text-align: start;
  font-size: 18px;
}

.price__item-text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 15px;
  padding-left: 15px;
}

.price__item-text li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
}

/*===========CONTACTS================================*/

.contacts__content {
  text-shadow: 1px 1px 1px #000;
  padding: 100px 10px 0px;
  position: relative;
  z-index: 50;
}

.contacts__text {
  line-height: 121%;
  margin: 20px 0px;
  font-size: 28px;
  padding-left: 30px;
}

.contacts__backup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__socials {
  color: rgb(1, 1, 68);
  width: 50%;
  padding-left: 40px;
}

.contacts__socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  font-size: 18px;
}

.contacts__socials-item span {
  width: 250px;
}

.contacts__socials-item a {
  color: rgb(1, 1, 68);
}

.contacts__form-content {
  width: 50%;
  padding-right: 30px;
}

.textarea {
  height: 90px;
}

/*===========POPUP================================*/

.popup {
  position: absolute;
  bottom: 0px;
  left: 11%;
  width: 250px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 120;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  margin: 15% auto;
  max-width: 400px;
  background: rgb(3, 3, 3);
  border-radius: 10px;
  padding: 25px 15px 15px;
  -webkit-box-shadow: 1px 1px 10px rgba(3, 3, 3, 0.5);
          box-shadow: 1px 1px 10px rgba(3, 3, 3, 0.5);
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  margin: 0px auto 15px;
  padding: 10px;
  width: 100%;
  max-height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background: rgba(243, 243, 236, 0.9);
}

.form__input:focus {
  -webkit-box-shadow: 1px 1px 10px #fff;
          box-shadow: 1px 1px 10px #fff;
}

.form__button {
  -webkit-animation: glowing 1300ms infinite;
          animation: glowing 1300ms infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 10px 25px;
  color: rgb(1, 1, 68);
  text-shadow: 1px 1px black;
  background-color: rgb(233, 198, 3);
  border-radius: 5px;
  font-size: 20px;
}

.swal2-popup {
  background-color: #000;
}

.tel,
.tel-2 {
  margin: 0px auto 15px;
  padding: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background: rgba(243, 236, 236, 0.9);
}

.tel:focus,
.tel-2:focus {
  -webkit-box-shadow: 1px 1px 10px #fff;
          box-shadow: 1px 1px 10px #fff;
}

._error {
  -webkit-box-shadow: 0px 0px 15px red;
          box-shadow: 0px 0px 15px red;
}

@media (max-width: 1080px) {
  .popup__content {
    margin: 17% auto;
  }

  .header__socials-link img {
    padding: 9px;
  }

  .menu__link {
    font-size: 16px;
    margin: 0px 3%;
  }

  .main__title {
    max-width: 500px;
    font-size: 65px;
    padding: 0px 0px 70px 0px;
  }

  .main__text {
    font-size: 35px;
  }

  .main__text p {
    top: -230px;
    right: 10%;
  }

  .main__text span {
    top: -120px;
    right: 16%;
  }

  .price__items {
    padding: 0px 10px;
  }

  .price__item {
    margin: 0px 10px;
    padding: 10px;
  }

  .price__item-label {
    font-size: 20px;
  }

  .price__item-text {
    font-size: 16px;
  }

  .services__item {
    height: 90px;
  }

  .services__item-label {
    font-size: 14px;
  }

  .services__item-text {
    position: relative;
    font-size: 12px;
  }

  .center a {
    font-size: 16px;
  }

  .contacts__socials {
    padding-left: 20px;
  }

  .contacts__socials-item {
    font-size: 16px;
  }
}

@media (max-width: 920px) {
  .popup__content {
    margin: 20% auto;
  }

  .main__title {
    font-size: 60px;
  }

  .main__text {
    padding: 45px 30px 0px 0px;
    font-size: 27px;
  }

  .main__text span::first-letter {
    font-size: 110px;
  }

  .main__text p {
    top: -200px;
  }

  .main__text p::first-letter {
    font-size: 110px;
  }

  .about__text {
    font-size: 18px;
  }

  .price__item {
    margin: 0px 5px;
    padding: 7px;
  }

  .price__item-label {
    font-size: 18px;
  }

  .price__item-sum {
    font-size: 26px;
  }

  .contacts__text {
    font-size: 25px;
  }

  .contacts__socials {
    padding-left: 10px;
  }

  .contacts__socials-item span {
    width: 180px;
  }

  .form__input {
    font-size: 14px;
  }

  .form__button {
    font-size: 18px;
  }
}

@media (max-width: 776px) {
  h2 {
    font-size: 25px;
  }

  .loader > b {
    font-size: 20px;
  }

  .loader > b:nth-of-type(1) {
    font-size: 45px;
  }

  .loader > b:nth-of-type(10) {
    font-size: 45px;
  }

  .popup__content {
    margin: 30% auto;
  }

  .header__burger {
    position: fixed;
    z-index: 100;
    top: 24px;
    right: 24px;
    display: block;
    width: 23px;
    height: 23px;
  }

  .header__burger::after {
    content: "";
    background: rgb(238, 255, 0);
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .header__burger::before {
    content: "";
    position: absolute;
    background: rgb(1, 1, 68);
    width: 100%;
    height: 5px;
    left: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .header__burger::before {
    top: 5px;
  }

  .header__burger::after {
    bottom: 5px;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    background: rgb(1, 1, 68);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header__burger.active span {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__socials {
    width: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding: 15px;
  }

  .header__socials.active {
    width: 100%;
    position: absolute;
    z-index: 90;
    width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rgba(238, 255, 1, 0.7);
  }

  .header__socials-link {
    margin: 0px 7%;
  }

  .header__socials-link img {
    padding: 3px;
  }

  .callback {
    width: 13%;
  }

  .callback__text {
    top: -25px;
    left: 3px;
    font-size: 10px;
  }

  .main__content {
    padding: 110px 0px 0px 0px;
  }

  .main__title {
    margin: 0 auto;
    font-size: 50px;
    padding: 0px 0px 130px 0px;
  }

  .main__text {
    text-align: center;
    padding: 100px 0px 0px;
  }

  .main__text p {
    top: -58%;
    right: 36%;
  }

  .main__text p::first-letter {
    font-size: 90px;
  }

  .main__text span {
    top: -6%;
    right: 42%;
  }

  .main__text span::first-letter {
    font-size: 90px;
  }

  .about__title {
    margin: 0;
    padding: 0px 0px 20px 0px;
  }

  .about__content {
    padding: 90px 0px 0px 0px;
  }

  .services__content {
    padding: 90px 0px 0px 0px;
  }

  .services__title {
    padding: 0px 0px 25px 0px;
  }

  .services__item-label {
    padding: 0px 0px 3px 0px;
  }

  .services__items {
    gap: 10px;
  }

  .price__item-label {
    font-size: 16px;
    padding-top: 5px;
  }

  .price__item-text {
    font-size: 14px;
  }

  .price__item-text li {
    margin-bottom: 7px;
  }

  .price__item-sum {
    padding: 10px 0;
  }

  .contacts__content {
    padding: 90px 0px 0px 0px;
    text-shadow: 0px 0px 1px #000;
  }

  .contacts__backup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__text {
    margin: 10px 0px;
    text-align: center;
    padding: 0 10px;
  }

  .contacts__socials {
    width: 100%;
    display: block;
    padding: 0px 30px;
  }

  .contacts__form-content {
    width: 100%;
    padding: 20px 30px 0px;
  }

  .contacts__socials-item {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 10%;
  }

  .contacts__socials-item span {
    width: 150px;
  }
}

@media (max-width: 650px) {
  .loader > b {
    white-space: nowrap;
    font-size: 10px;
  }

  .loader > b:nth-of-type(1) {
    font-size: 30px;
  }

  .loader > b:nth-of-type(10) {
    font-size: 30px;
  }

  .header__socials-link img {
    padding: 0px;
  }

  .popup__content {
    margin: 40% auto;
  }

  .services__title {
    padding: 0px 0px 10px 0px;
  }

  .services__item {
    height: 120px;
    height: 63px;
  }

  .services__item-label {
    font-size: 12px;
  }

  .services__item-text {
    font-size: 10px;
  }

  .price__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .price__title {
    padding: 0px 0px 10px 0px;
  }

  .price__item {
    margin: 10px 0px;
  }

  .price__item-text {
    padding: 0px 10px;
  }
}

@media (max-width: 486px) {
  .callback__text {
    font-size: 8px;
  }

  .loader > b {
    margin: 2px;
    font-size: 8px;
  }

  .loader > b:nth-of-type(1) {
    font-size: 20px;
  }

  .loader > b:nth-of-type(10) {
    font-size: 20px;
  }

  .header__socials-link {
    margin: 0px 7% 0px 0px;
  }

  .popup__content {
    margin: 60% auto;
  }

  .main__title {
    font-size: 45px;
  }

  .main__text {
    font-size: 22px;
  }

  .about__content {
    padding: 75px 0px 0px 0px;
  }

  .about__title {
    padding: 0px 0px 10px 0px;
  }

  .about__text {
    font-size: 14px;
  }

  .about__text p {
    margin: 0px 0px 10px 0px;
  }

  .services__content {
    padding: 70px 0px 0px 0px;
  }

  .services__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }

  .services__item {
    height: 70px;
  }

  .contacts__content {
    padding: 80px 0px 0px 0px;
  }

  .contacts__title {
    padding: 0px 0px 10px 0px;
  }

  .contacts__socials {
    padding: 0px 20px;
  }

  .contacts__socials-item {
    padding: 0;
    font-size: 12px;
    margin: 10px;
  }

  .price__content {
    padding: 70px 0px 0px 0px;
  }

  .price__item {
    margin: 5px 0px;
  }

  .price__item-text {
    padding: 0;
    font-size: 12px;
  }

  .price__item-text li {
    margin-bottom: 2px;
    padding-left: 10px;
  }

  .price__item-sum {
    padding: 5px 0px;
  }
}

@media (max-width: 380px) {
  .form__input {
    margin: 0px auto 5px;
    padding: 5px;
  }

  .main__title {
    font-size: 36px;
  }

  .main__text {
    font-size: 22px;
  }

  .main__text p {
    right: 22%;
  }

  .main__text span {
    right: 33%;
  }

  .form__button {
    font-size: 16px;
  }
}